.bodyPart{
    position: fixed;
    margin-left: 340px;
    display: flex;
    .chart{
        background-color: #F9F7F7;
        width: 490px;
        margin-top: 100px;
        border: #bdbdbd 1px solid;
        border-radius: 5px;
        h6{
            padding: 20px 30px;
        }
    }
    .quote{
        margin-top: 100px;
        margin-left: 69px;
    }
}

