.bodyPart {
    //   position: fixed;
      margin-left: 340px;
      padding-right: 20px;
      // display: flex;
      width: calc(100% - 340px);
      justify-content: space-between;
      margin-top: 100px;
      position:absolute;
      margin-bottom: 20px;

      .header{
        display: flex;
        justify-content: space-between;
      }

      .issueDetail{
        position: absolute; // Changed from `flex` to `absolute` for overlapping
        right: 0; // Align it to the right
        transform: translateY(-50%); // Centers it vertically
        width: 50%; // Adjust as needed
        z-index: 10; // Higher z-index to bring it above other elements
        background-color: white; // Optional: Add background for better visibility
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
}