
.bodyPart {
    //   position: fixed;
      margin-left: 340px;
      width: calc(100% - 340px);
      margin-top: 100px;
      box-sizing: border-box;
      .heading{
        margin-top: 5px;
        .heading1{
          color: #195BA5;
        }
      }
}

.line{
    margin:13px 30px 0 0px;
    height: 1px;
    flex: 1;
    background-color: #aeaeae;
  }