.search {
  width: 100%;
  position: relative;
  padding: 2px;
  display: flex;
  border: 2px solid;
  border-radius: 5px;
  border-color: #9da1a5;
  .searchTerm {
    width: 100%;
    //   border-right: none;
    padding: 5px;
    outline: none;
    border: none;
    // height: 20px;
    outline: none;
    color: #000;
  }
  .searchButton {
    width: 40px;
    height: 32px;
    //   border-right: 1px solid;
    //   border-left: 1px  ;
    border: none;
    background: #f8f8f8;
    text-align: center;
    color: #000000;
    //   border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
}

.searchTerm:focus {
  color: #080808;
}



.searchBox{
  display: flex;
  height: fit-content;
  margin-right: 10px;
}

.leftSide{
  display: flex;

  .avatarBox{
    margin-left: 10px;
    display: flex;
    align-items: center;
    p{
      margin-right: 10px;
    }
  }
}

.rightSide{
  padding-left: 10px;
}

.line{
  margin:-3px 30px 0 35px;
  height: 3px;
  flex: 1;
  background-color: #3D52A0;
}

.navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 300px);
  height: 87px; 
  background-color: #ffffff; 
  z-index: 1000;
  margin-left: 300px;
}