.sidebar {
  position: fixed; /* or absolute */
  top: 0;
  left: 0;
  width: 300px; /* or whatever width you need */
  height: 100vh; /* full height */
//   background-color: #3d52a0; 
  z-index: 500; /* lower z-index */
  transition: all 0.5s ease;
  .logoDetails {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 12px;
    margin-left: 10px;
    img {
      margin-left: 39px;
    }
  }
  .logo_name {
    // font-size: 22px;
    margin-left: 18px;
    color: #fff;
    font-weight: 600;
    transition: 0.3s ease;
    transition-delay: 0.1s;
  }
  .line {
    margin: 13px 30px 0 35px;
    height: 3px;
    flex: 1;
    background-color: #ffffff;
  }
}
.sideContent {
  margin-top: 37px;
}
.nav_links {
  margin-top: 29px;

  .liWithFocus {
    background-color: #fff;
    display: flex;
    padding-top: 8px;
    height: 37px;
    padding-left: 37px;
    border-radius: 0 0 47px;
    h6 {
        color: #433939;
        margin-left: 20px;
    }
}
    .liWithoutFocus{
      display: flex;
      padding-top: 8px;
      
      height: 37px;
      padding-left: 41px;
      h6 {
        color: #ffffff;
        margin-left: 20px;
      }
    }
}
